%table.table
  %thead
    %tr
      %th When
      %th Therapist
      %th Client
      %th Action
      %th Note
  %tbody
    - notifications.each do |notification|
      = render_activity(notification)
