%h3
  = t('.welcome', default: 'Welcome to IFF Timekeeper')
  = current_user.name

- week_reminders = signature_week_reminders(current_user.therapist)
- if week_reminders.any?
  %table.table
    %caption Signature reminders for the coming week
    %thead
      %tr
        %th Day
        %th Count
        %th Name
        %th Missing Sig. Dates
    %tbody
      - week_reminders.each do |day_reminder|
        = render 'therapists/reminders', date: day_reminder.first, reminders: day_reminder.last

- if @activities.any?
  %h4 Recent activities
  = render 'notifications/notifications', notifications: @activities
