%div(ng-controller='billFormCtrl' ng-init="loadBill(#{@bill.id})")
  %h3(ng-show="inProgress" )
    LOADING

  .bill-step(ng-hide="inProgress" )
    %legend Step 1: Verify Bill Information
    %form.form-horizontal(name='billForm')
      .form-group
        %label.col-sm-2.control-label Billed On
        .col-md-3.col-sm-3
          %input.form-control(name='billedOn' ng-model='bill.billedOn' ng-required='true'
                              show-weeks="false" datepicker-popup="dd.MM.yyyy")
      .form-group
        %label.col-sm-2.control-label Number
        .col-md-3.col-sm-3
          %input.form-control(name='number' ng-model='bill.number' ng-required='true')

  .bill-step(ng-hide="inProgress" )
    %legend Step 2: Special Actions
    .row
      .col-sm-4
        %p
          %button.btn.btn-primary(ng-click="editBillItem()")
            %i.glyphicon.glyphicon-plus
            Create a New Activity
      .col-sm-4
        %p
          %button.btn.btn-primary(ng-click="markAll(true)")
            %i.glyphicon.glyphicon-plus
            Include All Activities
      .col-sm-4
        %p
          %button.btn.btn-primary(ng-click="markAll(false)")
            %i.glyphicon.glyphicon-minus
            Exclude All Activities


  %script(id='billItemTemplate.html' type='text/ng-template')
    .modal-header
      %h3(ng-show="billItem.eventId") Edit Activity
      %h3(ng-hide="billItem.eventId") Add Activity
    .modal-body
      %form(name='form')
        .form-group
          %input#select-client(tk-select2='' data-placeholder="Select Client" ng-model="billItem.client"
                 collection='bill.clients' ng-required="true" )
        .form-group
          %input#select-therapy(tk-select2='' data-placeholder='Select Activity' ng-model='billItem.category'
                 collection='bill.eventCategories' ng-required="true")
        .form-group
          %datepicker.bill-border(name='occurredOn' show-weeks="false"
                                  ng-model="billItem.occurredOn" ng-required="true")
    .modal-footer
      %button(class='btn btn-default' ng-click="$dismiss()") Cancel
      %button(class='btn btn-primary' ng-click='$close(billItem)' ng-disabled="form.$invalid") Submit


  .bill-step(ng-hide="inProgress" )
    %legend Step 3: Verify activities
    %p
      Review the activities below. Activities in the left column are included in this bill.
      Activities in the right column are excluded.  To toggle between columns click the activity.
    %p
      To edit an activity, first click the
      %i.glyphicon.glyphicon-edit
      icon near the name, and then select the activity to edit.
    %p
      To add a new activity click the
      %i.glyphicon.glyphicon-plus
      icon.

    .panel.panel-default(ng-repeat="clientId in clientOrder" id="client-{{clientId}}")
      .panel-heading
        {{clientHash[clientId].text}}
        .bill-item-buttons
          %button.btn.btn-default.add-event(ng-click="addBillItem(clientId)" )
            %i.glyphicon.glyphicon-plus
          %button.btn.btn-default.edit-event(ng-click="editEnabled=!editEnabled" ng-class="{active: editEnabled}" )
            %i.glyphicon.glyphicon-edit
      .panel-body
        .row
          .col-sm-6.col-xs-6
            .bill-item.event-included(ng-repeat='billItem in billItemsByClient[clientId] | filter:{included:true}'
                       id="event-{{billItem.eventId}}")
              .bill-item-content(style="background-color: {{billItem.category.color}}"
                                   ng-click="clickBillItem(editEnabled, billItem)")
                %span(tk-date-format="{{billItem.occurredOn}}" format='DD.MM')
                {{billItem.category.text}}
                %i.pull-right.glyphicon.glyphicon-edit.pull-right(ng-if="editEnabled")
          .col-sm-6.col-xs-6.bill-items-excluded
            .bill-item(ng-repeat='billItem in billItemsByClient[clientId] | filter:{included:false}'
                       id="event-{{billItem.eventId}}")
              .bill-item-content(style="background-color: {{billItem.category.color}}"
                                   ng-click="clickBillItem(editEnabled, billItem)")
                %span(tk-date-format="{{billItem.occurredOn}}" format='DD.MM')
                {{billItem.category.text}}
                %i.pull-right.glyphicon.glyphicon-edit.pull-right(ng-if="editEnabled")

  .bill-step(ng-hide="inProgress" )
    %legend Step 4: Summary
    %p
      Bill {{bill.number}} has {{activeClientIds().length}} clients and
      {{ matchedBillItems(true).length }} included activities.
      {{ matchedBillItems(false).length }} activities are excluded.

    %p
      %button.btn.btn-lg.btn-primary(ng-click="saveBill()" ng-disabled="billForm.$invalid || matchedBillItems(true).length == 0")
        Save Bill



