%div(ng-controller='newBillCtrl')
  %h2
    {{current.client}}

  %form.form-inline
    %label Billed On
    %input.span2(name='billedOn' ng-model='bill.billedOn' ng-required='true')
    %label Number
    %input.span2(name='number' ng-model='bill.number' ng-required='true')

  .row-fluid
    %span.span3
      %button(ng-click="editBillItem()") Add Event
    %span.span3
      %button(ng-click="markAll(true)") Include All
    %span.span3
      %button(ng-click="markAll(false)") Exclude All

  %script(id='billItemTemplate.html' type='text/ng-template')
    .modal-header
      %h3(ng-show="billItem.eventId") Edit Event
      %h3(ng-hide="billItem.eventId") Create Event
    .modal-body
      %form(name='billItemForm')
        .row-fluid
          .span2 Who
          %input.span8(tk-select2='' data-placeholder="Select Client" ng-model="billItem.client" collection='clients' ng-required="true")
        .row-fluid
          .span2 When
          .well.well-small.pull-left(ng-model="billItem.occurredOn")
            %datepicker(show-weeks="false")
        .row-fluid
          .span2 What
          %input.span8(tk-select2='' data-placeholder='Select Activity' ng-model='billItem.category' collection='categories' ng-required="true" )
    .modal-footer
      %button(class='btn btn-primary' ng-click='$close(billItem)') Submit
      %button(class='btn btn-warning' ng-click="$dismiss()") Cancel
      .row
        {{billItem}}


  %ol
    %li(ng-repeat="clientId in clientOrder")
      %h3(ng-bind="clientHash[clientId].text" ng-dblclick="editBillItem({clientId: clientId})" )
      .row(ng-repeat='billItem in billItemsByClient[clientId]' ng-dblclick="editBillItem(billItem)" )
        %span.span1
          %input(type='checkbox' ng-model='billItem.included')
        %span.span2(tk-date-format="{{billItem.occurredOn}}" format='DD.MM' ng-animate="true" )
        %span.span3(ng-hide="billItem.included")
        %span.span3(style="background-color: {{eventCategoryHash[billItem.eventCategoryId].color}}" ng-bind="eventCategoryHash[billItem.eventCategoryId].text" ng-animate="true" )


%h1 New bill

- # force bill items to current unbilled items
- @bill.bill_items = parent.unbilled_items
- @bill.number ||= @bill.generate_number

= render 'form'
