%div(ng-controller='newBillCtrl')
  %h2
    {{current.client}}

  %form
    %label Billed On
    %input(name='billedOn' ng-model='bill.billedOn' class='date-picker' required)
    %label Number
    %input(name='number' ng-model='bill.number' required)

  %button(ng-click="markAll(true)") Include All
  %button(ng-click="markAll(false)") Exclude All
  %button(ng-click="billItem.editing=true") Add Event

  %form(name='billItemForm' ng-submit="saveBillItem()" ng-show="billItem.editing" )
    .row
      %label When
      %input(type="text" datepicker-popup="dd.MM.yyyy" ng-model="billItem.occurredOn" is-open="opened" datepicker-options="{'starting-day': 1, 'show-weeks': false}" ng-required="true")
    .row
      %input.span4(tk-select2='' data-placeholder="Select Client" ng-model="billItem.client" collection='clients' ng-required="true")
    .row
      %input.span4(tk-select2='' data-placeholder='Select Activity' ng-model='billItem.category' collection='categories' ng-required="true" )
    .row
      %input(type="submit")
      %button(ng-click="resetBillItem()") Cancel
    .row
      {{billItem}}


  %ol
    %li(ng-repeat="clientId in clientOrder")
      %span(ng-bind="clientHash[clientId].text")
      %div(ng-repeat='billItem in billItemsByClient[clientId]' ng-dblclick="editBillItem(billItem)" )
        %span
          %input(type='checkbox' ng-model='billItem.included')
        %span(tk-date-format="{{billItem.occurredOn}}" format='L')
        %span(style="background-color: {{eventCategoryHash[billItem.eventCategoryId].color}}" ng-bind="eventCategoryHash[billItem.eventCategoryId].text")


%h1 New bill

- # force bill items to current unbilled items
- @bill.bill_items = parent.unbilled_items
- @bill.number ||= @bill.generate_number

= render 'form'
