%div(ng-controller='newBillCtrl')
  %form.form-horizontal
    %fieldset
      %legend Step 1: Verify Bill Information
      .form-group
        %label.col-sm-2.control-label Billed On
        .col-md-3.col-sm-3
          %input.form-control(name='billedOn' ng-model='bill.billedOn' ng-required='true' datepicker-popup="dd.MM.yyyy")
      .form-group
        %label.col-sm-2.control-label Number
        .col-md-3.col-sm-3
          %input.form-control(name='number' ng-model='bill.number' ng-required='true')

  %legend Step 2: Verify activities
  .row
    .col-md-6
      %p
        Review the activities below. Click an activity to toggle whether it is
        %em included
        or
        %em excluded
        from this bill. Click the column headers to include or exclude all activities.
    .col-md-6
      %p
        %button.btn.btn-primary(ng-click="editBillItem()")
          %i.glyphicon.glyphicon-plus
          Add a New Activity


  %script(id='billItemTemplate.html' type='text/ng-template')
    .modal-header
      %h3(ng-show="billItem.eventId") Edit an Activity
      %h3(ng-hide="billItem.eventId") Add an Activity
    .modal-body
      %form(name='billItemForm')
        %input(tk-select2='' data-placeholder="Select Client" ng-model="billItem.client" collection='clients' ng-required="true")
        .well.well-small.pull-left(ng-model="billItem.occurredOn")
          %datepicker(show-weeks="false")
        %input(tk-select2='' data-placeholder='Select Activity' ng-model='billItem.category' collection='categories' ng-required="true" )
    .modal-footer
      %button(class='btn btn-default' ng-click="$dismiss()") Cancel
      %button(class='btn btn-primary' ng-click='$close(billItem)') Submit
      .row
        {{billItem}}


  .row
    .col-sm-4
    .col-sm-4
      .btn.btn-default(ng-click="markAll(true)") Included
    .col-sm-4
      .btn.btn-default(ng-click="markAll(false)") Excluded

  .row.panel.panel-default(ng-repeat="clientId in clientOrder")
    .panel-body
      .col-sm-4
        .h3
          {{clientHash[clientId].text}}
          .btn.btn-default(ng-click="addBillItem(clientId)" )
            %i.glyphicon.glyphicon-plus
          .btn.btn-default(ng-click="editEnabled=!editEnabled" ng-class="{active: editEnabled}" )
            %i.glyphicon.glyphicon-edit
      .col-sm-4.col-xs-6
        .bill-item(ng-repeat='billItem in billItemsByClient[clientId] | filter:{included:true}')
          .bill-item-content(style="background-color: {{billItem.category.color}}"
                               ng-click="clickBillItem(editEnabled, billItem)")
            %span(tk-date-format="{{billItem.occurredOn}}" format='DD.MM')
            {{billItem.category.text}}
            %i.pull-right.glyphicon.glyphicon-edit.pull-right(ng-if="editEnabled")
      .col-sm-4.col-xs-6.vertical-line
        .bill-item(ng-repeat='billItem in billItemsByClient[clientId] | filter:{included:false}')
          .bill-item-content(style="background-color: {{billItem.category.color}}"
                               ng-click="clickBillItem(editEnabled, billItem)")
            %span(tk-date-format="{{billItem.occurredOn}}" format='DD.MM')
            {{billItem.category.text}}
            %i.pull-right.glyphicon.glyphicon-edit.pull-right(ng-if="editEnabled")
