.row
  .col-sm-8
    %table.table
      %caption T-Org-Berichte
      %tr
        %th Zeitraum
        %th erstellt
        %th
        %th
        %th

      - @torgs.each do |torg|
        %tr
          %td= link_to torg.title, torg
          %td Vor #{time_ago_in_words torg.created_at}
          %td= destroy_link(torg)

.row
  .col-sm-1
    = new_link 'Neues T-Org Bericht', new_torg_path
