.table-new-bill-items {
  td:first-child { text-align: center; }
  .controls {
    margin-left: 0;
  }
}

.bill-item {
  display: inline-block;
  width: 400px;
  color: #fff;
  padding: 2px;
  margin: 1px;
}